* {
  font-size: 12px;
  font-family: monospace;
  margin: 2px 10px;
}

window#waybar {
  background: #32353B;
  color: #ECEFF4;
}

#pulseaudio {
  color: #4C7899;
}

#cpu {
  color: #C678DD;
}

#memory {
  color: #56B6C2;
}

#disk.root {
  color: #E5C07B;
}

#disk.home {
  color: #D19A66;
}
