apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-apps-of-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lasseheia/systems
    path: hosts/server/incus/instances/kubernetes/manifests
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
