use flake

bucket_key=$(incus storage bucket key show incus opentofu admin)
export AWS_ACCESS_KEY_ID=$(echo "$bucket_key" | grep '^access-key:' | awk '{print $2}')
export AWS_SECRET_ACCESS_KEY=$(echo "$bucket_key" | grep '^secret-key:' | awk '{print $2}')
