name: Checks

on:
  pull_request:
    paths-ignore:
      - .github/**
      - '!.github/workflows/check-flake.yaml'
      - LICENCE
      - README.md
  push:
    paths-ignore:
      - .github/**
      - '!.github/workflows/check-flake.yaml'
      - LICENCE
      - README.md

jobs:
  flake-checker:
    name: Flake Checker
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:

      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Install jq via Nix
        run: nix profile install nixpkgs#jq

      - name: Extract nixpkgs keys from flake.lock
        id: extract-keys
        shell: bash
        run: |
          nixpkgs_keys=$(jq --raw-output '.nodes.root.inputs | keys | join(",")' flake.lock)
          echo "Extracted nixpkgs keys: $nixpkgs_keys"
          echo "nixpkgs_keys=$nixpkgs_keys" >> $GITHUB_OUTPUT

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
        with:
          nixpkgs-keys: ${{ steps.extract-keys.outputs.nixpkgs_keys }}

  check-flake-systems:
    name: Check Flake Systems
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:

      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Check Nix flake systems
        run: |
          {
            echo '```bash'
            nix flake check --all-systems 2>&1
            echo '```'
          } | tee -a $GITHUB_STEP_SUMMARY

  nix-lint:
    name: Nix Lint
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Install nix-linter
        run: nix run github:nix-community/nixpkgs-lint -- .
